/* CSS file for cell dialog in the table plugin */
body {
  background: #fff;
  color: #000;
  line-height: 1.5;
}

pre.listing {
  background: #eee;
  border: 1px solid #ccc;
  margin: .3em auto;
  padding: .1em .3em;
  width: 95%;
}

pre.listing b {
  color: #f00;
}


/* TABLE
 * ========================================================================= */
table {
  border: 1px solid #888;
  border-collapse: collapse;
  line-height: 1;
  margin: 1em auto;
  width: 95%;
    font-family: Helvetica,Arial,sans-serif;
    font-size: 14px;  
}

/* Caption
 * ------------------------------------------------------------------------- */
table caption {
  font-size: .9em;
  font-weight: bold;
}

/* Header
 * ------------------------------------------------------------------------- */
table thead {
  background: #aaa url(../images/bg-table-thead.png) repeat-x top left;
  font-size: .9em;
}

table thead tr th {
  border: 1px solid #888;
  font-weight: weight;
  padding: .3em 1.67em .1em 1.67em;
  text-align: left;
  
}

/* Body
 * ------------------------------------------------------------------------- */
table tbody tr td {
  cursor: default;
  padding: .3em 1.5em;
}

table tbody tr.even {
  background: #f3f3f3;
}

table tbody tr.odd {
  background: #fff;
}

table span {
  background-position: center left;
  background-repeat: no-repeat;
  padding: .2em 0 .2em 1.5em;
}

table span.file {
  background-image: url(../images/page_white_text.png);
}

table span.folder {
  background-image: url(../images/folder.png);
}
.panel_wrapper div.current {
	height: 200px;
}

.advfield {
	width: 200px;
}

#action {
	margin-bottom: 3px;
}

#class {
	width: 150px;
}